.hrefs
.rtags
build/
builds/
**/#*#
dependencies/*
extern/*
tests/benchmarks_parameters.hpp
**/vcpkg_installed
.venv/

build/*
__build__/*

# ides
.vscode/
.vs/
CMakeSettings.json

_deps/

export/

fetch_and_include/

tmpinst/

CMakeFiles/
